body {
    margin: 0;
    padding: 0;
}
.container-fluid {
    height: 100vh;
}
.left-panel {
    background: url('IMG/wepik-export-20230720052933JeJC.webp') no-repeat center center;
    background-size: cover;
}
.right-panel {
    background-color: #646464; /* Cor semelhante ao da imagem */
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-box {
    background-color: #d63d00;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}
.login-box h2 {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
.login-box label {
    color: white;
}
.login-box input {
    background-color: #4a5568;
    color: white;
    border: none;
}
.login-box input::placeholder {
    color: #a0aec0;
}
.btn-primary {
    background-color: #3182ce;
    border: none;
}
.btn-primary:hover {
    background-color: #2b6cb0;
}
footer {
    color: #a0aec0;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
.recaptcha-box {
    background-color: #4a5568;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 15px;
}