.logo {
    height: 85px;
    width: auto;
}

.nav-link {
    font-weight: bold;
}

.nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.btn-primary {
    background-color: #0056b3;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
}

.btn-primary:hover {
    background-color: #00408f;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item {
    margin-left: 10px;
}

.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*CARROSSEL*/

.custom-carousel {
    height: 500px; /* Altura total do carrossel */
}

.custom-carousel .carousel-inner {
    height: 100%;
}

.custom-carousel .carousel-item img.custom-image {
    height: 100%; /* Faz as imagens ocuparem toda a altura */
    object-fit: cover; /* Faz com que a imagem se ajuste sem distorcer */
}


